.cat-info {
    display: flex;
    column-gap: 20px;
    margin-top: 20px;
}

.cat-name {
    margin-top: 0;
    font-size: 30px;
}

.cat-description {
    font-size: 20px;
    font-weight: 400;
}

.temperament{
    font-size: 20px;
    font-weight: 600;
}

.cat-character {
    font-size: 20px;
    font-weight: 400;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid;
    border-color: #FF3D00 transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    margin-top: 20px;
    animation: rotation 1s linear infinite;
}
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 

.loader-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.is-hidden {
    display: none;
}