.cat-info {
    display: flex;
    column-gap: 20px;
    margin-top: 20px;
}

.cat-name {
    margin-top: 0;
    font-size: 30px;
}

.cat-description {
    font-size: 20px;
    font-weight: 400;
}

.temperament{
    font-size: 20px;
    font-weight: 600;
}

.cat-character {
    font-size: 20px;
    font-weight: 400;
}